/dist/
/build/
/nbproject/
/Plan Lite/build/
/Plan Lite/dist/
/Plan Lite/nbproject/private/
/Plan/nbproject/
/Plan/target/
/Plan/temporaryTestFolder/
/Debugger/nbproject/private/
/PlanDebugger/nbproject/private/