.cardSection {
  background: unset;
  margin: 0.3rem;
  padding: 0.7rem;
  border: 1px solid var(--color-cards-header-border);
  border-radius: 5px;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.9rem;

  * {
    margin: 0;
  }

  &.noPadding {
    padding: 0;

    :global(.chart-area) {
      padding: 0;
    }
  }
}