.black {
    color: #000000;
}

.darkblue {
    color: #0000AA;
}

.darkgreen {
    color: #00AA00;
}

.darkaqua {
    color: #00AAAA;
}

.darkred {
    color: #AA0000;
}

.darkpurple {
    color: #AA00AA;
}

.gold {
    color: #FFAA00;
}

.gray {
    color: #AAAAAA;
}

.darkgray {
    color: #555555;
}

.blue {
    color: #5555FF;
}

.green {
    color: #55FF55;
}

.aqua {
    color: #55FFFF;
}

.red {
    color: #FF5555;
}

.pink {
    color: #FF55FF;
}

.yellow {
    color: #FFFF55;
    text-shadow: 0 0 6px #000;
}

.white {
    color: #FFFFFF;
    text-shadow: 0 0 8px #000;
}

.g {
    color: #008000;
}

.o {
    color: #FFA500;
}

.r {
    color: #FF4500;
}

.nav-button {
}

.sidenav-button:hover {
    background: #89c471;
}

.right {
    float: right;
}

.left {
    float: left;
}

.plugin {
    max-height: 300px;
    overflow-y: auto;
    height: 100%;
}

.main-limiter {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.tab {
    width: 0;
    float: left;
}

.scrollbar {
    max-height: 650px;
    overflow-y: auto;
}

.session-header h3 {
    margin: 0;
}

.session-header p {
    margin: 0;
}

.session {

}

.session-header {
    background: #ddd;
    color: #000;
    margin: 1px 3px;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.session-col {
    width: 100%;
    background: #fff;
    color: #000;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.session-content {
    display: none;
    margin: 2px 10px;
    flex-direction: row;
}

.plugins-content {
    display: none;
}

.plugins-header h2 {
    margin: 0;
}

.plugins-header p {
    margin: 0;
}

.plugin {
    padding: 10px;
}

.plugin p {
    padding: 5px 0;
    margin: 0;
}

.help {
    text-decoration: none;
!important;
}

@media only screen and (max-width: 1680px) {
    .nav-button {
        font-size: 19px;
    }
}

@media only screen and (max-width: 780px) {
    .scrollbar {
        overflow-x: auto;
        width: 100%;
    }
}